{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des Entreprises Clientes  {% endblock %}
       
{% block contenu %}

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
       {% else %}  
       <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
    {% endif %}         
{% endif %}         

<h1 class="ppe-h1-listing"> Gestion des Entreprises Clientes  </h1>
<a class="btn btn-green btn-min-width mr-1 mb-1 float-xs-right" href="index.php?page=entreprise_clienteajout"
    role="button">
    <i class="icon-plus3"></i> Ajouter
</a>

<div class="panel">
    <!-- Default panel contents -->
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive ppe-table-responsive">
                <table id="table" class="table table-hover table-striped table-bordered text-xs-center">
                    <thead class="bg-primary">
                        <tr class="text-uppercase white">
                            <th class="no-filter">Nom</th>
                            <th class="no-filter">Adresse</th>
                            <th class="no-filter">Ville</th>
                            <th class="no-filter">Code Postal</th>
                            <th class="nothing">Contact</th>
                            <th class="nothing">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ec in liste %}
                        <tr>
                            <td>
                                 {{ ec.nom }}
                            </td>
                            <td>
                                {{ ec.adresse }}
                            </td>
                            <td>
                                {{ ec.ville }}
                            </td>
                            <td>
                                {{ ec.codep }}
                            </td>
                            <td>
                                {{ ec.contact }}
                            </td>
                            <td>
                                <a class="btn btn-info btn-min-width mr-1 mb-1" 
                                    href="index.php?page=entreprise_cliente_modif&ident={{ ec.ident }}"
                                    role="button">
                                    <i class="icon-edit2"></i> Modifier
                                </a>
                                <a class="btn btn-danger btn-min-width mr-1 mb-1" 
                                    href="index.php?page=entreprise_cliente&ident={{ ec.ident }}"
                                    role="button">
                                    <i class="icon-trash-o"></i> Supprimer
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %} 